@import "tailwindcss";

:root {
	--color-foreground: #222d45;
	--color-primary: #fdfdff;
	--color-secondary: #78808e;
	--color-third: #dedede;
	--color-accent: #993537;
	--color-foreground-light: #585b61;
}

@theme {
	/* colors */
	--color-primary: var(--color-primary);
	--color-foreground: var(--color-foreground);
	--color-secondary: var(--color-secondary);
	--color-third: var(--color-third);
	--color-accent: var(--color-accent);
	--color-foreground-light: var(--color-foreground-light);

	/* fonts */
	--font-inter: var(--font-inter);
	--font-titillium: var(--font-titillium);
}

body {
	background: var(--primary);
	color: var(--foreground);
	font-family: var(--font-inter), Arial;
}
